<div class="row m-4">
  <div class="col">
    <div class="text-center">
      Welcome to Widgets Are Us.  The one stop shop for all your widgeting needs.
    </div>
  </div>
</div>

<div class="row m-4">
  <div class="col">
    <div class="text-center">
      We'd love to hear from you, but our lines are rather busy.  However, please try our new call back service.
    </div>
  </div>
</div>

<div class="row p-4">
  <div class="col"></div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-header text-center">Request a callback!</div>
      <div class="card-body">

        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <%= bootstrap_form_tag url: callback_path do |f| %>
          <%= f.text_field :name, value: @name %>
          <%= f.text_field :business_name, value: @business_name %>
          <%= f.text_field :email, value: @email %>
          <%= f.text_field :telephone_number, value: @telephone_number %>
          <%= f.submit "Submit" %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
